<template v-if="currentSession==='pendingApprovals'">
    <!-- Nav -->
    <div class="card-content">

        <button 
            @click="goToSession('sentApprovals')"
            class="btn waves-effect waves-light topbtn" 
            :class="(submitting || userSentApprovals.length < 1) ? 'disabled': ''">
            Sent Approvals ({{userSentApprovals.length}})
            <i class="material-icons right">send</i>
        </button>
        
        <button 
            @click="goToSession('closedApprovals')"
            class="btn waves-effect waves-light topbtn" 
            :class="(submitting || userClosedApprovals.length < 1) ? 'disabled': ''">
            Closed Approvals ({{userClosedApprovals.length}})
            <i class="material-icons right">done_all</i>
        </button>
        
        <button 
            @click="goToSession('allApprovals')"
            class="btn waves-effect waves-light" 
            :class="(submitting || userAllApprovals.length < 1) ? 'disabled': ''">
            All approvals ({{userAllApprovals.length}})
            <i class="material-icons right">inbox</i>
        </button>
        
    </div>
    
    <div class="divider"></div>
    
    <div class="card-content">
        <h4 class="teal-text"><b>Pending approvals ({{userPendingApprovals.length}})</b></h4>
        <table v-if="userPendingApprovals.length" class="responsive-table striped">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Title</th>
                    <th>Description</th>
                    <!-- <th>Assign to</th> -->
                    <th>Created by</th>
                    <th>Files</th>
                    <th>Status</th>
                    <th>Comments</th>
                    <th>Approve</th>
                    <th>Reject</th>
                    <th>Reassign</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(approval, i) in userPendingApprovals" :key="'approval-' + i">
                    <td>{{i + 1}}</td>
                    <td>{{approval.title}}</td>
                    <td>{{approval.description}}</td>
                    <!-- <td>{{approval.assignTo}}</td> -->
                    <td>{{approval.createdBy}}</td>
                    <td><p v-for="(file, j) in approval.files" :key="'file-' + i + '-' + j" v-html="file"></p></td>
                    <td :class="approval.status === 'pending'? 'yellow-text text-darken-3': 
                        (approval.status === 'rejected' ? 'red-text text-darken-3': 'teal-text text-darken-3')">{{approval.status}}</td>
                    <td v-html='approval.comments'></td>
                    <td><button v-if="approval.status === 'pending'"
                        class="btn waves-effect waves-light modal-trigger"
                        data-target="approve-reject-request"
                        @click="setPopup({
                            action: 'Approve',
                            request: approval.title,
                            description: approval.description,
                            uuid: approval.uuid,
                            status: 'approved',
                            comments: '',
                            callback: changeApprovalStatus,
                        })">
                        <i class="material-icons">check</i></button></td>
                        
                    <td><button v-if="approval.status === 'pending'"
                        class="btn waves-effect waves-light modal-trigger"
                        data-target="approve-reject-request"
                        @click="setPopup({
                            action: 'Reject',
                            request: approval.title,
                            description: approval.description,
                            uuid: approval.uuid,
                            status: 'rejected',
                            comments: '',
                            callback: changeApprovalStatus,
                        })">
                        <i class="material-icons">close</i></button></td>
                    <td><button v-if="approval.status === 'pending'"
                        class="btn waves-effect waves-light modal-trigger"
                        data-target="approve-reject-request"
                        @click="setPopup({
                            action: 'Reassign',
                            request: approval.title,
                            description: approval.description,
                            uuid: approval.uuid,
                            status: 'pending',
                            comments: '',
                            email: '',
                            callback: changeApprovalStatus,
                        })">
                        <i class="material-icons">forward</i></button></td> 
                </tr>
            </tbody>
        </table>
    </div>
</template>

