<template v-if="currentSession==='allApprovals'">
    <!-- Nav -->
    <div class="card-content">
        <button 
            @click="goToSession('pendingApprovals')"
            class="btn waves-effect waves-light topbtn" 
            :class="(submitting || userPendingApprovals.length < 1) ? 'disabled': ''">
            Pending approvals ({{userPendingApprovals.length}})
            <i class="material-icons right">hourglass_empty</i>
        </button>
        
        <button 
            @click="goToSession('sentApprovals')"
            class="btn waves-effect waves-light topbtn" 
            :class="(submitting || userSentApprovals.length < 1) ? 'disabled': ''">
            Sent Approvals ({{userSentApprovals.length}})
            <i class="material-icons right">send</i>
        </button>
        
        <button 
            @click="goToSession('closedApprovals')"
            class="btn waves-effect waves-light" 
            :class="(submitting || userClosedApprovals.length < 1) ? 'disabled': ''">
            Closed Approvals ({{userClosedApprovals.length}})
            <i class="material-icons right">done_all</i>
        </button>
    </div>
    
    <div class="divider"></div>
    
    <div class="card-content">
        <h4 class="teal-text"><b>All approvals ({{userAllApprovals.length}})</b></h4>
        <table v-if="userAllApprovals.length" class="responsive-table striped">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Assign to</th>
                    <th>Created by</th>
                    <th>Files</th>
                    <th>Status</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(approval, i) in userAllApprovals" :key="'approval-' + i">
                    <td>{{i + 1}}</td>
                    <td>{{approval.title}}</td>
                    <td>{{approval.description}}</td>
                    <td>{{approval.assignTo}}</td>
                    <td>{{approval.createdBy}}</td>
                    <td><p v-for="(file, j) in approval.files" :key="'file-' + i + '-' + j" v-html="file"></p></td>
                    <td :class="approval.status === 'pending'? 'yellow-text text-darken-3': 
                        (approval.status === 'rejected' ? 'red-text text-darken-3': 'teal-text text-darken-3')">{{approval.status}}</td>
                    <td v-html='approval.comments'></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

