<div class="card-content" v-show="currentSession === 'changePasswordSession'">
    <!-- change password -->
    <div class="input-field">
        <h4 class="teal-text"><b>Change password</b></h4>
    </div>
    
    <!-- old password -->
    <div class="input-field">
        <i class="material-icons prefix">vpn_key</i>
        <input id="cp-old-passowrd" type="password" class="validate" 
            :class="submitting ? 'disabled': ''"
            v-model="changePasswordForm.oldPassword" required>
        <label for="cp-old-passowrd">Old password</label>
    </div>
    
    <!-- new password -->
    <div class="input-field">
        <i class="material-icons prefix">vpn_key</i>
        <input id="cp-new-passowrd" type="password" class="validate" 
            :class="submitting ? 'disabled': ''"
            v-model="changePasswordForm.newPassword" required>
        <label for="cp-new-passowrd">New password</label>
    </div>
    
    <!-- confirm password -->
    <div class="input-field">
        <i class="material-icons prefix">vpn_key</i>
        <input id="cp-confirm-passowrd" type="password" class="validate" 
            :class="submitting ? 'disabled': ''"
            v-model="changePasswordForm.confirmPassword" required>
        <label for="cp-confirm-passowrd">Confirm password</label>
    </div>
   
    <!-- Change Password-->
    <div class="input-field">
        <button
            class="btn waves-effect waves-light modal-trigger"
            data-target="message-box"
            :class="submitting ? 'disabled': ''"
            @click="changePassword"
            >Change<i class="material-icons right">save</i>
        </button>
    </div>
</div>


